/* Estilos para el formulario
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
input[type="file"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para la tabla */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    color: #333;
}

/* Estilo general del contenedor */
.form-container {
    background-color: #F2F2F2;
    padding-top: 1%;
    padding-bottom: 1.5%;
    max-width: 800px;
    margin: auto;
    border: 1px solid #202B52;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: "Popins", sans-serif;
}

/* Estilo del título */
.form-container h1 {
    text-align: center;
    color: #202B52;
    font-weight: bold;
    font-size: 24px;
}

.form-container h3 {
    text-align: center;
    color: #202B52;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: -12px;
}

/* Estilo de los grupos del formulario */
.form-group {
    margin-bottom: 20px;
    padding: 0 30px;

}

.form-button {
    margin-bottom: 5px;
    padding: 0 30px;
    display: flex;
    justify-content: center;
}

/* Estilo de las etiquetas */
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #202B52;
    font-size: 16px;
    font-weight: 500;
}

/* Estilo de los campos de texto y select */
.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="email"],
.form-group input[type="date"],
.form-group select,
.form-group input[type="file"] {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
    border: 1px solid #BFBFBF;
    /* Borde gris */
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    background-color: #F2F2F2;
}

/* Hover en los inputs */
.form-group input[type="text"]:hover,
.form-group input[type="number"]:hover,
.form-group input[type="email"]:hover,
.form-group input[type="date"]:hover,
.form-group select:hover,
.form-group input[type="file"]:hover {
    border-color: #202B52;
    /* Azul al hacer hover */
}

/* Estilo cuando el campo tiene foco (click) */
.form-group input[type="text"]:focus,
.form-group input[type="number"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="date"]:focus,
.form-group select:focus,
.form-group input[type="file"]:focus {
    border-color: #4D94FF; /* Borde azul cuando se hace clic */
    outline: none; /* Eliminar el borde por defecto */
}


/* Botón de envío */
.form-group button {
    background-color: #202B52;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;

}

.form-group button:hover {
    background-color: #1a2342;
}


