<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Enviado</title>
    <link rel="stylesheet" href="../static/css/styleEndForm.css">
</head>

<body>

    <div class="container">
        <!-- Imagen centrada arriba -->
        <div class="image-container">
            <img src="../static/img/logo_form.png" alt="Imagen enviada"> <!-- Cambia la ruta si es necesario -->
        </div>

        <!-- Contenedor del mensaje -->
        <div class="message-container">
            <h1>¡Formulario Enviado!</h1>
            <p>Tu información ha sido enviada correctamente.</p>
        </div>
    </div>

</body>

</html>